.nav-enlace{
   background: salmon;
   color: aliceblue;
   padding: 10px 30px;
   display: inline-block;
   text-decoration: none;
}
.nav-enlace:hover{
    background: rosybrown;
}
nav{
    display: flex;
    background: salmon;
    width: 90%;
}
