:root{
    
    --colorpri:#115571;
    --colorhover:#10303d;;
}       
.nav-enlace{
   background: var(--colorpri);
   color: aliceblue;
   padding: 20px 30px;
   display: inline-block;
   text-decoration: none;
}
.nav-enlace:hover{
    background: var(--colorhover);
}
header{
    display: flex;
    background: var(--colorpri);
    justify-content: end;
    width: 100%;
    height: 4rem;
}
i{
    padding: 10px;
}
