:root {
  --colorpri: #115571;
  --colorfondos: #ffffff;
  --colorhover: #10303d;
  --colortextos: #f4f4f4;
  --colorbotones: #028484;
}
body {
  background: var(--colorfondos);
}
.nav-enlace {
  background: var(--colorpri);
  color: var(--colortextos);
  padding: 0.5em 1em;
  display: inline-block;
  text-decoration: none;
}
.nav-link:hover {
  background: var(--colorhover);
  border-radius: 3.2rem;
}
header {
  display: flex;
  background: var(--colorpri);
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
i {
  padding: 0.5em;
}
.section-home {
  display: flex;
  justify-content: center;
  width: 75%;
  padding: 1em;
  margin: 2em;
}
article{
    background: var(--colortextos);
    margin: .3em;
    padding: 0.7rem;
    text-align: justify;
    border: 1px solid rgb(188, 168, 168);
    border-radius: .5em ;
} 
a{
    text-decoration: none;
    background: var(--colorbotones);
    color: var(--colorfondos);
    padding: .3em .5em;
    border-radius: 7rem;
}
article {
  background: var(--colortextos);
  margin: 0.3em;
  padding: 0.7rem;
  text-align: justify;
  border: 1px solid rgb(188, 168, 168);
  border-radius: 0.5em;
}
a {
  text-decoration: none;
  background: var(--colorpri);
  color: var(--colorfondos);
  padding: 0.3em 0.5em;
  border-radius: 7rem;
}
article:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
